{% extends 'base.html' %}
{% block title %}Admin message{% endblock %}
{% block content %}

<form method="POST">
    {% csrf_token %}

    {% for field in form %}
    <p>
        {{ field.label_tag }}<br>
        {{ field }}
        {% for error in field.errors %}
        <p style="color: red">
            {{ error }}
        </p>
        {% endfor %}
    </p>
    {% endfor %}
    {% if error_message %}
    <p style="color: red">
        {{ error_message }}
    </p>
    {% endif %}
    <button type="submit">Send</button>
</form>

{% endblock %}
